div.wpcf7 {
margin: 0;
padding: 0;
}
div.wpcf7 .screen-reader-response {
position: absolute;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
width: 1px;
margin: 0;
padding: 0;
border: 0;
}
div.wpcf7-response-output {
margin: 2em 0.5em 1em;
padding: 0.2em 1em;
border: 2px solid #ff0000;
}
div.wpcf7-mail-sent-ok {
border: 2px solid #398f14;
}
div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
border: 2px solid #ff0000;
}
div.wpcf7-spam-blocked {
border: 2px solid #ffa500;
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
border: 2px solid #f7e700;
}
.wpcf7-form-control-wrap {
position: relative;
}
span.wpcf7-not-valid-tip {
color: #f00;
font-size: 1em;
font-weight: normal;
display: block;
}
.use-floating-validation-tip span.wpcf7-not-valid-tip {
position: absolute;
top: 20%;
left: 20%;
z-index: 100;
border: 1px solid #ff0000;
background: #fff;
padding: .2em .8em;
}
span.wpcf7-list-item {
display: inline-block;
margin: 0 0 0 1em;
}
span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
content: " ";
}
.wpcf7-display-none {
display: none;
}
div.wpcf7 .ajax-loader {
visibility: hidden;
display: inline-block;
background-image: url(../../../plugins/contact-form-7/images/ajax-loader.gif);
width: 16px;
height: 16px;
border: none;
padding: 0;
margin: 0 0 0 4px;
vertical-align: middle;
}
div.wpcf7 .ajax-loader.is-active {
visibility: visible;
}
div.wpcf7 div.ajax-error {
display: none;
}
div.wpcf7 .placeheld {
color: #888;
}
div.wpcf7 input[type="file"] {
cursor: pointer;
}
div.wpcf7 input[type="file"]:disabled {
cursor: default;
}
div.wpcf7 .wpcf7-submit:disabled {
cursor: not-allowed;
}.wp-color-picker{width:80px}.wp-picker-container .hidden{display:none}.wp-picker-container .wp-color-result.button{height:24px;margin:0 6px 6px 0;padding:0 0 0 30px;font-size:11px}.wp-color-result-text{background:#f7f7f7;border-radius:0 2px 2px 0;border-left:1px solid #ccc;color:#555;display:block;line-height:22px;padding:0 6px;text-align:center}.wp-color-result:focus,.wp-color-result:hover{background:#fafafa;border-color:#999;color:#23282d}.wp-color-result:focus:after,.wp-color-result:hover:after{color:#23282d;border-color:#a0a5aa;border-left:1px solid #999}.wp-picker-containers{display:inline-block}.wp-color-result:focus{border-color:#5b9dd9;box-shadow:0 0 3px rgba(0,115,170,.8)}.wp-color-result:active{transform:none!important}.wp-picker-open+.wp-picker-input-wrap{display:inline-block;vertical-align:top}.wp-picker-input-wrap label{display:inline-block;vertical-align:top}.form-table .wp-picker-input-wrap label{margin:0!important}.wp-customizer .wp-picker-input-wrap .button,.wp-picker-input-wrap .button{margin-left:6px}.wp-picker-container .iris-square-slider .ui-slider-handle:focus{background-color:#555}.wp-picker-container .iris-picker{border-radius:0;border-color:#ddd;margin-top:6px}.wp-picker-container input[type=text].wp-color-picker{width:65px;font-size:12px;font-family:monospace;line-height:16px;margin:0;vertical-align:top}.wp-color-picker::-webkit-input-placeholder{color:#72777c}.wp-color-picker::-moz-placeholder{color:#72777c;opacity:1}.wp-color-picker:-ms-input-placeholder{color:#72777c}.wp-picker-container input[type=text].iris-error{background-color:#ffebe8;border-color:#c00;color:#000}.iris-picker .iris-strip .ui-slider-handle:focus,.iris-picker .ui-square-handle:focus{box-shadow:0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8)}.iris-picker .iris-palette:focus{box-shadow:inset 0 0 5px rgba(0,0,0,.4),0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8)}@media screen and (max-width:782px){.wp-picker-container input[type=text].wp-color-picker{width:80px;padding:6px 5px 5px;font-size:16px;line-height:18px}.wp-customizer .wp-picker-container input[type=text].wp-color-picker{padding:5px 5px 4px}.wp-picker-container .wp-color-result.button{height:auto;padding:0 0 0 40px;font-size:14px;line-height:29px}.wp-customizer .wp-picker-container .wp-color-result.button{font-size:13px;line-height:26px}.wp-picker-container .wp-color-result-text{padding:0 14px;font-size:inherit;line-height:inherit}.wp-customizer .wp-picker-container .wp-color-result-text{padding:0 10px}}@media screen and (max-width:640px){.wp-customizer .wp-picker-container .wp-color-result.button{font-size:14px;line-height:29px}.wp-customizer .wp-picker-container input[type=text].wp-color-picker{padding:6px 5px}}.wpf_hide{
display: none;
}
#wpf_login_container {
position: fixed;
z-index: 199999;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(255, 255, 255, 0.85);
}
#wpf_login_container .wpf_wizard_modal {
width: 350px;
max-width: 88%;
margin: auto;
margin-top: 5%;
box-shadow: 0em 0em 3em 0em rgba(0,0,0,0.13);
padding: 15px;
border-radius: 5px;
border: 1px solid #efefef;
background-color: #fff !important;
text-align: center;
font-family: arial, sans-serif;
font-size: 14px;
}
img#wpfeedback_image-preview {
margin-bottom: 8px;
width: 85%;
}
#wpf_login_container #login_form_content .wpf_submit_button {
background-color: var(--main-wpf-color) !important;
color: #ffffff !important;
margin: 5px 0 0 0;
border-radius: 5px;
width: 100%;
padding: 15px !important;
font-size: 16px;
font-family: 'Exo', sans-serif;
border: none !important;
box-shadow: none !important;
font-weight: 700 !important;
height: 45px !important;
text-transform: initial !important;
}
#wpf_login_container a.wpf_login_close {
font-size: 30px;
margin-top: -5px;
color: var(--main-wpf-color);
float: right;
font-weight: 700;
line-height: 1;
text-shadow: 0 1px 0 #fff;
opacity: .5;
text-decoration: none;
}
#wpf_login_container a.wpf_skip.wpf_login_close {
float: initial;
font-size: 14px;
}
form#wpf_login input#username, form#wpf_login input#password {
border-radius: 5px;
margin-bottom: 10px;
width: 100% !important;
height: 45px !important;
}
form#wpf_login p.wpf_status {
color: red;
margin-top: 10px;
}
div#wpf_tasks_overlay {
position: absolute;
width: 100%;
background-color: rgba(255, 255, 255, 0.95);
height: 100%;
left: 0;
padding-top: 5%;
font-size: 30px;
color: var(--main-wpf-color);
font-weight: 700;
text-decoration: none;
font-family: 'Exo', sans-serif;
z-index: 10;
}
.wpf_welcome_wrap {
box-shadow: 0em 0em 3em 0em rgba(0,0,0,0.13);
padding: 45px;
border-radius: 5px;
border: 1px solid #efefef;
background-color: #fff !important;
width: 100%;
max-width: 400px;
margin: auto;
text-align: center;
}
.wpf_welcome_title {
margin-bottom: 10px;
}
.wpf_welcome_note {
font-size: 60%;
line-height: 1.1;
}
.wpf_welcome_note u {
cursor: pointer;
}
.wpf_welcome_image img {
display: block;
width: 100%;
}
.wpf_welcome_image img {
width: 100%;
}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}@font-face{font-family:'ACaslonPro-Semibold';src:url(../../../themes/acorn-lending/assets/fonts/ACaslonPro-Semibold/ACaslonPro-Semibold_.eot#iefix) format("embedded-opentype"),url(../../../themes/acorn-lending/assets/fonts/ACaslonPro-Semibold/ACaslonPro-Semibold.otf) format("opentype"),url(../../../themes/acorn-lending/assets/fonts/ACaslonPro-Semibold/ACaslonPro-Semibold.woff) format("woff"),url(../../../themes/acorn-lending/assets/fonts/ACaslonPro-Semibold/ACaslonPro-Semibold.ttf) format("truetype"),url(../../../themes/acorn-lending/assets/fonts/ACaslonPro-Semibold/ACaslonPro-Semibold.svg#ACaslonPro-Semibold) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'FuturaBT-Book';src:url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Book/FuturaBT-Book_.eot#iefix) format("embedded-opentype"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Book/FuturaBT-Book.otf) format("opentype"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Book/FuturaBT-Book.woff) format("woff"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Book/FuturaBT-Book.ttf) format("truetype"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Book/FuturaBT-Book.svg#FuturaBT-Book) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'FuturaBT-Heavy';src:url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Heavy/FuturaBT-Heavy_.eot#iefix) format("embedded-opentype"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Heavy/FuturaBT-Heavy.otf) format("opentype"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Heavy/FuturaBT-Heavy.woff) format("woff"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Heavy/FuturaBT-Heavy.ttf) format("truetype"),url(../../../themes/acorn-lending/assets/fonts/FuturaBT-Heavy/FuturaBT-Heavy.svg#FuturaBT-Heavy) format("svg");font-weight:normal;font-style:normal}html{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;font-size:16px}body{font-family:"FuturaBT-Book", sans-serif;line-height:1.45;color:#1A171B}h1{font-family:'FuturaBT-Heavy';font-size:2.25rem;line-height:1.2;margin-bottom:15px;letter-spacing:2px}h2{font-family:'FuturaBT-Heavy';font-size:1.875rem;line-height:1.2;margin-bottom:15px;letter-spacing:2px}h3{font-family:'FuturaBT-Heavy';font-size:1.5rem;line-height:1.2;margin-bottom:15px;letter-spacing:2px}h4{font-family:'FuturaBT-Heavy';font-size:1.125rem;line-height:1.2;margin-bottom:15px;letter-spacing:2px}h5{font-family:'FuturaBT-Heavy';font-size:0.75rem;margin-bottom:15px;letter-spacing:2px}p{font-size:1rem;margin-bottom:15px}li{font-size:1rem;margin-bottom:15px}ul,ol{margin-left:30px}ul{list-style-type:disc;list-style-position:outside;margin-bottom:15px}ol{list-style-type:decimal;list-style-position:inside;margin-bottom:15px}abbr,acronym{border-bottom-width:0}strong{font-weight:bold}em{font-style:italic}a:link,a:active,a:visited{text-decoration:none;color:#000}a:hover,a:focus{text-decoration:underline;color:#000}article,aside,details,figure,footer,header,hgroup,nav,section{display:block}img{max-width:100%}.content-wrapper-large{position:relative;display:block;margin:0 auto 0 auto;padding:0 0 0 0;width:100%;max-width:1200px;-webkit-box-sizing:border-box;box-sizing:border-box}.content-wrapper-medium{position:relative;display:block;margin:0 auto 0 auto;padding:0 0 0 0;width:100%;max-width:1000px;-webkit-box-sizing:border-box;box-sizing:border-box}.content-wrapper{position:relative;display:block;margin:0 auto 0 auto;padding:0 0 0 0;width:100%;max-width:900px;-webkit-box-sizing:border-box;box-sizing:border-box}.searchform label,.searchform input[type="text"],.searchform textarea{display:block;font-size:1rem;margin-bottom:5px}.searchform input[type="submit"]{display:inline-block;border:none;color:#fff;background-color:#000;border-radius:5px;padding:10px}.searchform input[type="submit"]:hover{color:#fff;background-color:#b1b1b1}.next-previous-links a,.button{font-family:'FuturaBT-Heavy';background-color:#D0B66B;display:inline-block;font-size:1.25rem;padding:10px 20px 10px 20px;border-radius:25px;vertical-align:middle;letter-spacing:2px;-webkit-appearance:none;border:none}.next-previous-links a:hover,.button:hover{text-decoration:none;color:#fff}#comments ol.comment-list{list-style:none;margin:0 0 10px 0;padding:0;text-indent:0}#comments ol.comment-list li.comment{border-bottom:1px solid #e4e4e4;padding:15px}#comments ol.comment-list li.comment .comment-body{overflow:hidden}#comments ol.comment-list li.comment div.vcard{overflow:hidden;font-weight:bold}#comments ol.comment-list li.comment div.vcard img.avatar{border:5px solid #b1b1b1;float:right;margin:0 0 20px 20px}#comments ol.comment-list li.comment div.comment-meta{font-size:11px}#comments ol.comment-list li.comment div.comment-meta a{color:#b1b1b1}#comments ol.comment-list li.comment p{font-size:1rem}#comments ol.comment-list li.comment ul{font-size:1rem;list-style:none;margin:0 0 0 20px}#comments ol.comment-list li.comment div.reply{font-size:1rem}#comments ol.comment-list li.comment div.reply a{display:inline-block;border:none;color:#000;background-color:#D0B66B;border-radius:5px;padding:10px}#comments ol.comment-list li.comment div.reply a:hover{color:#fff;text-decoration:none}#comments ol.comment-list li.comment ol.children{list-style:none;margin:12px;text-indent:0}#comments ol.comment-list li.comment ol.children li.depth-2{border-left:5px solid #e4e4e4;margin:0 0 10px 10px}#comments ol.comment-list li.comment ol.children li.depth-3{border-left:5px solid #e4e4e4;margin:0 0 10px 10px}#comments ol.comment-list li.comment ol.children li.depth-4{border-left:5px solid #e4e4e4;margin:0 0 10px 10px}#comments ol.comment-list li.even{background:#fff}#comments ol.comment-list li.odd{background:#F3EDDA}#comments ol.comment-list li.parent{border-left:5px solid #e4e4e4}#comments #respond{background:#F3EDDA;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box}#comments #respond input[type=text],#comments #respond textarea{-webkit-transition:all 0.30s ease-in-out;-moz-transition:all 0.30s ease-in-out;-ms-transition:all 0.30s ease-in-out;-o-transition:all 0.30s ease-in-out;outline:none;padding:3px 0px 3px 3px;margin:5px 1px 3px 0px;border:none}#comments #respond input[type=text]:focus,#comments #respond textarea:focus{-webkit-box-shadow:0 0 5px #51cbee;box-shadow:0 0 5px #51cbee;margin:5px 1px 3px 0px;border:1px solid #51cbee}#comments #commentform input,#comments #commentform label,#comments #commentform textarea{display:block;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;resize:none}#comments #commentform .form-submit{display:inline-block}#comments #commentform #submit{display:inline-block;border:none;color:#000;background-color:#D0B66B;border-radius:5px;padding:10px}#comments #commentform #submit:hover{color:#fff}#main-content table{margin-bottom:15px}#main-content table tbody tr:nth-child(odd){background-color:#F3EDDA}#main-content table tbody tr:nth-child(even){background-color:#fff}#main-content table th,#main-content table td{padding:10px}#main-content table th{background-color:#D0B66B;font-weight:bold}#main-content blockquote{display:block;background:#fff;padding:15px 20px 15px 45px;margin:0 0 20px;position:relative;font-size:16px;line-height:1.2;color:#1A171B;text-align:justify;border-left:15px solid #D0B66B;border-right:2px solid #D0B66B;-webkit-box-shadow:2px 2px 15px #e4e4e4;box-shadow:2px 2px 15px #e4e4e4}#main-content blockquote::before{content:"\201C";font-family:Georgia, serif;font-size:60px;font-weight:bold;color:#7C6F62;position:absolute;left:10px;top:5px}#main-content blockquote::after{content:""}#main-content dt{font-weight:bold;text-decoration:underline;margin-bottom:5px}#main-content dd{margin:0;padding:0 0 10px 15px}.alignnone{margin:5px 20px 20px 0}.aligncenter,div.aligncenter{display:block;margin:5px auto 5px auto}.alignright{float:right;margin:5px 0 20px 20px}.alignleft{float:left;margin:5px 20px 20px 0}a img.alignright{float:right;margin:5px 0 20px 20px}a img.alignnone{margin:5px 20px 20px 0}a img.alignleft{float:left;margin:5px 20px 20px 0}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignleft{margin:5px 20px 20px 0}.wp-caption.alignright{margin:5px 0 20px 20px}.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}.text-only-section{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff}.text-only-section .content-wrapper{text-align:center;padding:50px 20px 50px 20px}.text-only-section .content-wrapper h1,.text-only-section .content-wrapper h2,.text-only-section .content-wrapper h3,.text-only-section .content-wrapper h4,.text-only-section .content-wrapper h5,.text-only-section .content-wrapper h6{color:#7C6F62}.text-only-section .content-wrapper p,.text-only-section .content-wrapper li{font-size:1.125rem;line-height:1.8}.legal-text-section{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff}.legal-text-section .content-wrapper{text-align:left;padding:50px 20px 50px 20px}.legal-text-section .content-wrapper h1,.legal-text-section .content-wrapper h2,.legal-text-section .content-wrapper h3,.legal-text-section .content-wrapper h4,.legal-text-section .content-wrapper h5,.legal-text-section .content-wrapper h6{color:#7C6F62}.call-to-action-section{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background:#7c6f62;background:-webkit-gradient(linear, left top, left bottom, from(#7c6f62), to(#000));background:linear-gradient(to bottom, #7c6f62 0%, #000 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c6f62', endColorstr='#000000',GradientType=0 )}.call-to-action-section .content-wrapper{text-align:center;padding:50px 20px 50px 20px}.call-to-action-section .content-wrapper h1,.call-to-action-section .content-wrapper h2,.call-to-action-section .content-wrapper h3,.call-to-action-section .content-wrapper h4,.call-to-action-section .content-wrapper h5,.call-to-action-section .content-wrapper h6{color:#D0B66B}.call-to-action-section .content-wrapper p,.call-to-action-section .content-wrapper li{color:#fff;font-size:1.125rem;line-height:1.8}.call-to-action-section .content-wrapper .button{margin:10px 0 0 0}.three-boxes-section{background-color:#fff}.three-boxes-section .content-wrapper-large{text-align:center;padding:50px 20px 50px 20px}.three-boxes-section .content-wrapper-large h1,.three-boxes-section .content-wrapper-large h2,.three-boxes-section .content-wrapper-large h3,.three-boxes-section .content-wrapper-large h4,.three-boxes-section .content-wrapper-large h5,.three-boxes-section .content-wrapper-large h6{color:#7C6F62}.three-boxes-section .content-wrapper-large p{font-size:1.375rem;color:#1A171B;max-width:1090px;margin:0 auto 15px auto;line-height:1.7}.three-boxes-section .boxes-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;padding:20px 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.three-boxes-section .boxes-wrapper .box{width:30%;max-width:350px;text-align:center;background-color:#F3EDDA;padding:20px;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 720px){.three-boxes-section .boxes-wrapper .box{width:100%;max-width:100%;margin:0 0 20px 0}}.three-boxes-section .boxes-wrapper .box.link{padding:0 0 0 0}.three-boxes-section .boxes-wrapper .box.link a{display:block;padding:20px 20px 40px 20px}.three-boxes-section .boxes-wrapper .box.link a:hover{text-decoration:none;background-image:url(../../../themes/acorn-lending/assets/images/brown_down_arrow.svg);background-repeat:no-repeat;background-size:30px 30px;background-position:center bottom 10px}.three-boxes-section .boxes-wrapper .box img{display:block;margin:0 auto 10px auto;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:85px}.three-boxes-section .boxes-wrapper .box h3{font-size:1.25rem}.three-boxes-section .boxes-wrapper .box p{font-size:1rem;line-height:1.7}.three-boxes-section-drop-down{background-color:#fff}.three-boxes-section-drop-down .content-wrapper-large{text-align:center;padding:50px 20px 50px 20px}.three-boxes-section-drop-down .content-wrapper-large h1,.three-boxes-section-drop-down .content-wrapper-large h2,.three-boxes-section-drop-down .content-wrapper-large h3,.three-boxes-section-drop-down .content-wrapper-large h4,.three-boxes-section-drop-down .content-wrapper-large h5,.three-boxes-section-drop-down .content-wrapper-large h6{color:#7C6F62}.three-boxes-section-drop-down .content-wrapper-large p{font-size:1.375rem;color:#1A171B;max-width:1090px;margin:0 auto 15px auto;line-height:1.7}.three-boxes-section-drop-down .content-wrapper-large li{font-size:1.375rem}.three-boxes-section-drop-down .boxes-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;padding:20px 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.three-boxes-section-drop-down .boxes-wrapper .box{width:30%;max-width:350px;text-align:center;border:1px solid #F3EDDA;padding:20px 20px 40px 20px;cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box}.three-boxes-section-drop-down .boxes-wrapper .box.current,.three-boxes-section-drop-down .boxes-wrapper .box:hover{background-image:url(../../../themes/acorn-lending/assets/images/brown_down_arrow.svg);background-repeat:no-repeat;background-size:30px 30px;background-position:center bottom 10px;background-color:#F3EDDA}@media screen and (max-width: 600px){.three-boxes-section-drop-down .boxes-wrapper .box{width:100%;max-width:100%;margin:0 0 20px 0}}.three-boxes-section-drop-down .boxes-wrapper .box img{display:block;margin:0 auto 10px auto;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:85px}.three-boxes-section-drop-down .boxes-wrapper .box h3{font-size:1.25rem}.three-boxes-section-drop-down .boxes-wrapper .box p{font-size:1rem;line-height:1.7}.three-boxes-section-drop-down .box-dropdown-wrapper{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0}.three-boxes-section-drop-down .box-dropdown-wrapper .dropdown{position:relative;margin:0 0 0 0;padding:0 0 0 0;display:none}.three-boxes-section-drop-down .box-dropdown-wrapper .dropdown.current{display:block;background-color:#F3EDDA;padding:30px 30px 30px 30px}.text-and-four-sections{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;background-color:#fff}.text-and-four-sections h1,.text-and-four-sections h2,.text-and-four-sections h3,.text-and-four-sections h4,.text-and-four-sections h5,.text-and-four-sections h6{color:#D0B66B}.text-and-four-sections .content-wrapper-large{padding:40px 40px 40px 40px}@media screen and (max-width: 940px){.text-and-four-sections .content-wrapper-large{padding:40px 20px 40px 20px}}.text-and-four-sections .boxes-wrapper{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;padding:50px 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.text-and-four-sections .boxes-wrapper .box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;width:50%;margin:0 0 20px 0;padding:0 0 0 0;text-align:left;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 640px){.text-and-four-sections .boxes-wrapper .box{width:100%}}.text-and-four-sections .boxes-wrapper .box .col:nth-child(1){width:85px}.text-and-four-sections .boxes-wrapper .box .col:nth-child(2){-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 10px 0 10px}.text-and-four-sections .boxes-wrapper .box .col h3{font-size:1.25rem;margin-bottom:10px}.text-and-four-sections .boxes-wrapper .box .col img{display:block;width:100%;max-width:85px;margin:0 0 10px 0}.text-with-two-columns{position:relative;display:block;width:100%;margin:0 0 0 0;padding:0px 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#fff}.text-with-two-columns h1,.text-with-two-columns h2,.text-with-two-columns h3,.text-with-two-columns h4,.text-with-two-columns h5,.text-with-two-columns h6{color:#D0B66B}.text-with-two-columns .content-wrapper{padding:40px 0 40px 0}@media screen and (max-width: 940px){.text-with-two-columns .content-wrapper{padding:40px 20px 40px 20px}}.text-with-two-columns .two-column-wrapper{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;padding:15px 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.text-with-two-columns .two-column-wrapper .col{width:50%;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 550px){.text-with-two-columns .two-column-wrapper .col{width:100%}}.text-with-two-columns .two-column-wrapper .col:nth-child(1){padding:0 20px 0 0}@media screen and (max-width: 550px){.text-with-two-columns .two-column-wrapper .col:nth-child(1){padding:0 0 20px 0}}.text-with-two-columns .two-column-wrapper .col:nth-child(2){padding:0 0 0 20px}@media screen and (max-width: 550px){.text-with-two-columns .two-column-wrapper .col:nth-child(2){padding:0 0 0 0}}.text-with-two-columns .two-column-wrapper .col ul{list-style-position:outside}.contact-form-section .content-wrapper-medium{padding:0 10px 40px 10px}.contact-form-section form{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.contact-form-section form .validation_error{position:relative;display:block;color:#fc0505;margin:0 0 10px 0}.contact-form-section form .validation_message{display:block;padding:10px 5px 5px 5px;color:#fc0505}.contact-form-section form ul{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-ms-flex-line-pack:end;align-content:flex-end;margin:0 0 0 0;padding:0 0 0 0;list-style:none}.contact-form-section form ul li{position:relative;margin:0 0 20px 0;padding:0 0 0 0;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer;-webkit-transition:all 0.5s ease;transition:all 0.5s ease}.contact-form-section form ul li.col{width:49%}@media screen and (max-width: 500px){.contact-form-section form ul li.col{width:100%}}.contact-form-section form ul li.col:nth-child(1),.contact-form-section form ul li.col:nth-child(3){padding:0 0 0 0;-webkit-transition:all 0.5s ease;transition:all 0.5s ease}@media screen and (max-width: 500px){.contact-form-section form ul li.col:nth-child(1),.contact-form-section form ul li.col:nth-child(3){padding:0 0 0 0}}.contact-form-section form ul li.col:nth-child(2),.contact-form-section form ul li.col:nth-child(4){padding:0 0 0 0px;-webkit-transition:all 0.5s ease;transition:all 0.5s ease}@media screen and (max-width: 500px){.contact-form-section form ul li.col:nth-child(2),.contact-form-section form ul li.col:nth-child(4){padding:0 0 0 0}}.contact-form-section form ul li.col.clicked{width:49%}@media screen and (max-width: 500px){.contact-form-section form ul li.col.clicked{width:100%}}.contact-form-section form ul li.col.clicked:nth-child(1),.contact-form-section form ul li.col.clicked:nth-child(3){padding:33px 0 0 0}@media screen and (max-width: 500px){.contact-form-section form ul li.col.clicked:nth-child(1),.contact-form-section form ul li.col.clicked:nth-child(3){padding:33px 0 0 0}}.contact-form-section form ul li.col.clicked:nth-child(2),.contact-form-section form ul li.col.clicked:nth-child(4){padding:33px 0 0 0}@media screen and (max-width: 500px){.contact-form-section form ul li.col.clicked:nth-child(2),.contact-form-section form ul li.col.clicked:nth-child(4){padding:33px 0 0 0}}.contact-form-section form ul li#field_1_9 li{margin:0 0 5px 0}.contact-form-section form ul li#field_1_9 input{display:inline-block;width:auto}.contact-form-section form ul li#field_1_9 label{position:relative;display:inline-block;width:auto;padding:0 0 5px 0}.contact-form-section form ul li#field_1_9 label .gfield_required{display:none}.contact-form-section form ul li#field_1_10 p{color:#7C6F62;font-size:0.9rem}.contact-form-section form ul li#field_1_10 p a{text-decoration:underline;color:#7C6F62}.contact-form-section form ul li#field_1_10 p a:hover{text-decoration:none}.contact-form-section form ul li label{position:absolute;top:0;left:0;display:block;font-size:1rem;color:#7C6F62;width:100%;padding:5px 5px 5px 5px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:transparent;-webkit-transition:all 0.5s ease;transition:all 0.5s ease}.contact-form-section form ul li input,.contact-form-section form ul li textarea{font-size:1rem;width:100%;margin:0 0 0 0;padding:5px 5px 5px 5px;resize:none;border:1px solid #7C6F62;-webkit-box-sizing:border-box;box-sizing:border-box;outline:#D0B66B}.contact-form-section form ul li.message label{height:100%}.contact-form-section form ul li.message.clicked{padding:33px 0 0 0}.contact-form-section form ul li.message.clicked label{height:auto}.contact-form-section form ul li.recaptcha label{display:none}.contact-form-section form ul li input.gform_button{border:none}.contact-form-section .gform_confirmation_wrapper{position:relative;display:block;margin:0 auto 0 auto;padding:0 0 0 0;width:100%;max-width:855px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px 20px 10px 20px}.map-section .acf-map{width:100%;height:400px;border:none;margin:0px 0}.map-section .acf-map img{max-width:inherit !important}.dark-section{background:#7c6f62;background:-webkit-gradient(linear, left top, left bottom, from(#7c6f62), to(#000));background:linear-gradient(to bottom, #7c6f62 0%, #000 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c6f62', endColorstr='#000000',GradientType=0 );padding:40px 40px 40px 40px}@media screen and (max-width: 930px){.dark-section{padding:20px 20px 20px 20px}}.dark-section .content-wrapper-large{padding:0 0 0 0}.dark-section h3{display:block;font-size:1.625rem;margin-bottom:20px}.dark-section p{font-size:1.3rem;color:#fff}.staff-section .staff-member{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;padding:40px 20px 40px 20px;border-bottom:1px solid #D0B66B;-webkit-box-sizing:border-box;box-sizing:border-box}.staff-section .staff-member:last-of-type{border-bottom:none}@media screen and (max-width: 930px){.staff-section .staff-member{padding:20px 20px 20px 20px}}.staff-section .staff-member .col:nth-child(1){width:200px}@media screen and (max-width: 570px){.staff-section .staff-member .col:nth-child(1){width:150px}}@media screen and (max-width: 430px){.staff-section .staff-member .col:nth-child(1){padding:0 0 10px 0}}.staff-section .staff-member .col:nth-child(2){-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 0 0 20px;text-align:left}@media screen and (max-width: 430px){.staff-section .staff-member .col:nth-child(2){width:100%;-webkit-box-flex:0;-ms-flex:none;flex:none;padding:0 0 0 0}}.staff-section .staff-member .col:nth-child(2) h4{margin:0 0 5px 0}.staff-section .staff-member .col:nth-child(2) h5{font-size:1.125rem}.page-header{position:relative;display:block;width:100%;margin:0 0 0 0;padding:0 0 0 0}.page-header .top-section{position:absolute;top:0;left:0;width:100%;background-color:rgba(0,0,0,0.8);z-index:9999;margin:0 0 0 0;padding:20px 0 20px 0;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 1220px){.page-header .top-section{padding:20px 10px 20px 10px}}.page-header .top-section .content-wrapper-large{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:start;align-content:flex-start}.page-header .top-section .content-wrapper-large .main-logo{width:140px}.page-header .top-section .content-wrapper-large .responsive-menu{position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;width:40px;margin:0 0 0 auto;display:none}@media screen and (max-width: 890px){.page-header .top-section .content-wrapper-large .responsive-menu{display:block}}.page-header .top-section .content-wrapper-large .responsive-menu .hamburger-bar{position:relative;display:block;margin:0 0 7px 0;height:5px;background-color:#D0B66B}.page-header .top-section .content-wrapper-large nav{-webkit-box-flex:1;-ms-flex:1;flex:1}@media screen and (max-width: 890px){.page-header .top-section .content-wrapper-large nav{display:none;-webkit-box-flex:0;-ms-flex:none;flex:none;width:100%}}.page-header .top-section .content-wrapper-large nav ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:top;-ms-flex-align:top;align-items:top;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;list-style:none;text-align:right}@media screen and (max-width: 890px){.page-header .top-section .content-wrapper-large nav ul{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}}.page-header .top-section .content-wrapper-large nav ul li{position:relative;text-align:center;margin:0 10px 0 10px;vertical-align:middle;font-size:0.9rem;width:auto;-webkit-box-sizing:border-box;box-sizing:border-box;letter-spacing:2px}@media screen and (max-width: 890px){.page-header .top-section .content-wrapper-large nav ul li{width:100%;margin:0 0 0 0;padding:10px;text-align:right;font-size:1rem}}.page-header .top-section .content-wrapper-large nav ul li a{color:#D0B66B;text-transform:uppercase;display:block}.page-header .top-section .content-wrapper-large nav ul li a:hover{color:#fff;text-decoration:none}.page-header .top-section .content-wrapper-large nav ul li ul.sub-menu{position:absolute;width:160px;background-color:rgba(0,0,0,0.8);left:-8px;top:19px;padding:5px 0 5px 0;display:none}@media screen and (max-width: 890px){.page-header .top-section .content-wrapper-large nav ul li ul.sub-menu{position:relative;left:auto;top:auto;background:none;width:100%;display:block}}.page-header .top-section .content-wrapper-large nav ul li ul.sub-menu li{width:100%;padding:5px 10px 5px 10px;margin:0 0 0 0;text-align:left}@media screen and (max-width: 890px){.page-header .top-section .content-wrapper-large nav ul li ul.sub-menu li{text-align:right;padding:5px 0 5px 0;font-size:0.9rem}}.page-header .top-section .content-wrapper-large nav ul li.current-menu-item>a{color:#fff}.page-header .top-section .content-wrapper-large nav ul li.current-menu-parent>a{color:#fff;display:block}.page-header .top-section .content-wrapper-large nav ul li.current-menu-parent ul li a{color:#D0B66B;display:block}.page-header .top-section .content-wrapper-large nav ul li.current-menu-parent ul li.current-menu-item a{color:#fff;display:block}.page-header .mid-section{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#000;background-repeat:no-repeat;background-position:top center;background-size:auto 100%}.page-header .mid-section .content-wrapper-medium{padding:200px 0 100px 0}@media screen and (max-width: 650px){.page-header .mid-section .content-wrapper-medium{background-color:rgba(0,0,0,0.3)}}@media screen and (max-width: 1030px){.page-header .mid-section .content-wrapper-medium{padding:150px 10px 70px 10px}}.page-header .mid-section .text-wrapper{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0 0 0 0;padding:0 0 0 0;max-width:450px;width:100%}.page-header .mid-section h1{font-family:'ACaslonPro-Semibold';font-size:3.375rem;color:#D0B66B;letter-spacing:0px}@media screen and (max-width: 650px){.page-header .mid-section h1{font-size:3rem}}.page-header .mid-section h2{font-family:'FuturaBT-Book';font-size:1.56rem;color:#fff}.page-header .bottom-section{background:#7c6f62;background:-webkit-gradient(linear, left top, left bottom, from(#7c6f62), to(#000));background:linear-gradient(to bottom, #7c6f62 0%, #000 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c6f62', endColorstr='#000000',GradientType=0 );padding:40px 0 40px 0;text-align:center}@media screen and (max-width: 930px){.page-header .bottom-section{padding:20px 10px 20px 10px}}.page-header .bottom-section h3{display:block;font-size:1.625rem;color:#fff;margin-bottom:30px}.page-header .bottom-section h3 a{color:#D0B66B;text-decoration:none}.page-header .bottom-section h3 a:hover{color:#fff;text-decoration:none}@media screen and (max-width: 650px){.page-id-6 .page-header .mid-section .content-wrapper-medium{padding:125px 10px 70px 10px}}.main-footer{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%}.main-footer .top-section{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;text-align:center;background:#7c6f62;background:-webkit-gradient(linear, left top, left bottom, from(#7c6f62), to(#000));background:linear-gradient(to bottom, #7c6f62 0%, #000 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c6f62', endColorstr='#000000',GradientType=0 )}.main-footer .top-section .content-wrapper{padding:50px 0 50px 0}@media screen and (max-width: 890px){.main-footer .top-section .content-wrapper{padding:30px 10px 30px 10px}}.main-footer .top-section h3{font-family:'FuturaBT-Book';font-size:1.625rem;line-height:1.5;margin:0 0 30px 0;color:#fff}.main-footer .bottom-section{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 0;background-color:#D0B66B;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box}.main-footer .bottom-section .content-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-line-pack:start;align-content:flex-start;padding:50px 0 50px 0}@media screen and (max-width: 940px){.main-footer .bottom-section .content-wrapper{padding:50px 10px 50px 10px}}@media screen and (max-width: 940px){.main-footer .bottom-section .content-wrapper{padding:30px 10px 30px 10px}}.main-footer .bottom-section .content-wrapper .col{-webkit-box-flex:1;-ms-flex:1;flex:1}@media screen and (max-width: 500px){.main-footer .bottom-section .content-wrapper .col{-webkit-box-flex:0;-ms-flex:none;flex:none;width:100%}}.main-footer .bottom-section .content-wrapper .col:nth-child(1){padding:0 20px 0 0}@media screen and (max-width: 500px){.main-footer .bottom-section .content-wrapper .col:nth-child(1){padding:0 0 0 0}}.main-footer .bottom-section .content-wrapper .col:nth-child(1) h3{font-size:1.25rem;margin:0 0 10px 0}.main-footer .bottom-section .content-wrapper .col:nth-child(2){padding:0 0 0 20px}@media screen and (max-width: 500px){.main-footer .bottom-section .content-wrapper .col:nth-child(2){padding:0 0 0 0}}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul{margin:0 0 0 0;list-style:none}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li{display:block;margin:0 0 10px 0;font-size:1.3125rem;padding:0 0 0 40px;background-repeat:no-repeat;background-position:top left;background-size:25px 25px}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li:nth-child(1){background-image:url(../../../themes/acorn-lending/assets/images/phone-icon.svg)}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li:nth-child(2){background-image:url(../../../themes/acorn-lending/assets/images/email-icon.svg)}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li:nth-child(3){font-size:1rem;background-image:url(../../../themes/acorn-lending/assets/images/location-icon.svg)}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li.footer-twitter{background-image:url(../../../themes/acorn-lending/assets/images/twitter-icon.svg)}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li.footer-linkedin{background-image:url(../../../themes/acorn-lending/assets/images/linkedin-icon.svg)}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li a{color:#000}.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li a:hover,.main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li a:focus{text-decoration:none;color:#fff}.main-footer .bottom-section .content-wrapper .legal{width:100%;margin:0 0 0 0;padding:30px 0 0 0}.main-footer .bottom-section .content-wrapper .footer-navigation{position:relative;width:100%;margin:0 0 0 0;padding:0 0 0 0}.main-footer .bottom-section .content-wrapper .footer-navigation ul{display:block;margin:0 0 0 0;padding:0 0 0 0;list-style:none}.main-footer .bottom-section .content-wrapper .footer-navigation ul li{display:inline-block;margin:0 0 5px 0;padding:0 5px 0 5px;border-right:1px solid #000;font-size:0.875rem}.main-footer .bottom-section .content-wrapper .footer-navigation ul li:first-child{padding:0 5px 0 0}.main-footer .bottom-section .content-wrapper .footer-navigation ul li:last-child{padding:0 0 0 5px;border-right:none}.stories-wrapper aside,.single-story-wrapper aside{position:relative;display:block;margin:0 0 0 0;padding:0 0 0 20px;width:300px;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 690px){.stories-wrapper aside,.single-story-wrapper aside{width:100%;padding:0 0 0 0}}.stories-wrapper aside section,.single-story-wrapper aside section{display:block;margin:0 0 30px 0;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.stories-wrapper aside h3,.single-story-wrapper aside h3{color:#7C6F62}.stories-wrapper aside .categories-list ul,.single-story-wrapper aside .categories-list ul{display:block;list-style:none;margin:0 0 0 0;padding:0 0 0 0}.stories-wrapper aside .categories-list ul li,.single-story-wrapper aside .categories-list ul li{display:block;margin:0 0 0 0;border-bottom:1px solid #F3EDDA;background-image:url(../../../themes/acorn-lending/assets/images/arrow-right-gold.svg);background-repeat:no-repeat;background-position:center left 10px;background-size:8px auto}.stories-wrapper aside .categories-list ul li a,.single-story-wrapper aside .categories-list ul li a{display:block;padding:15px 0 15px 30px;margin:0 0 0 0}.stories-wrapper aside .categories-list ul li a:hover,.single-story-wrapper aside .categories-list ul li a:hover{color:#D0B66B;text-decoration:none}.stories-wrapper aside .latest-post-list ul,.single-story-wrapper aside .latest-post-list ul{display:block;margin:0 0 0 0;padding:0 0 0 0;list-style:none}.stories-wrapper aside .latest-post-list ul li,.single-story-wrapper aside .latest-post-list ul li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-line-pack:start;align-content:flex-start;margin:0 0 0 0;padding:15px 0 15px 0px;border-bottom:1px solid #F3EDDA;-webkit-box-sizing:border-box;box-sizing:border-box}.stories-wrapper aside .latest-post-list ul li .col:nth-child(1),.single-story-wrapper aside .latest-post-list ul li .col:nth-child(1){width:50px}.stories-wrapper aside .latest-post-list ul li .col:nth-child(1) a,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(1) a{display:block;margin:0 0 0 0;padding:0 0 0 0;opacity:1}.stories-wrapper aside .latest-post-list ul li .col:nth-child(1) a:hover,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(1) a:hover{opacity:0.7;text-decoration:none}.stories-wrapper aside .latest-post-list ul li .col:nth-child(2),.single-story-wrapper aside .latest-post-list ul li .col:nth-child(2){-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 0 0 10px}.stories-wrapper aside .latest-post-list ul li .col:nth-child(2) h3,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(2) h3{font-size:0.8125rem;margin-bottom:5px}.stories-wrapper aside .latest-post-list ul li .col:nth-child(2) h3 a,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(2) h3 a{color:#7C6F62}.stories-wrapper aside .latest-post-list ul li .col:nth-child(2) h3 a:hover,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(2) h3 a:hover{color:#D0B66B;text-decoration:none}.stories-wrapper aside .latest-post-list ul li .col:nth-child(2) p,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(2) p{font-size:0.6875rem;margin:0 0 0 0}.stories-wrapper aside .latest-post-list ul li .col:nth-child(2) p img,.single-story-wrapper aside .latest-post-list ul li .col:nth-child(2) p img{vertical-align:initial;width:10px;margin:0 5px 0 0}.stories-wrapper aside .tag-list ul,.single-story-wrapper aside .tag-list ul{display:block;margin:0 0 0 0;padding:0 0 0 0;list-style:none}.stories-wrapper aside .tag-list ul li,.single-story-wrapper aside .tag-list ul li{display:inline-block;margin:0 5px 0 0;padding:0 0 0 0}.stories-wrapper aside .tag-list ul li a,.single-story-wrapper aside .tag-list ul li a{display:block;padding:5px 15px 5px 17px;margin:0 0 0 0;background-color:#F3EDDA}.stories-wrapper aside .tag-list ul li a:hover,.single-story-wrapper aside .tag-list ul li a:hover{background-color:#D0B66B;text-decoration:none}.stories-wrapper .content-wrapper-medium{position:relative;padding:40px 10px 40px 10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-sizing:border-box;box-sizing:border-box}.stories-wrapper .content-wrapper-medium .stories{position:relative;-webkit-box-flex:1;-ms-flex:1;flex:1;margin:0 0 0 0;padding:0 20px 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 690px){.stories-wrapper .content-wrapper-medium .stories{padding:0 0 30px 0}}.stories-wrapper .content-wrapper-medium .stories .story{display:block;margin:0 0 50px 0;padding:0 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}.stories-wrapper .content-wrapper-medium .stories .story img{margin:0 0 10px 0}.stories-wrapper .content-wrapper-medium .stories .story h2{font-size:1.25rem;color:#D0B66B}.stories-wrapper .content-wrapper-medium .stories .story .entry-date{font-size:0.875rem}.stories-wrapper .content-wrapper-medium .stories .next-previous-links{display:block;position:relative;margin:0 0 0 0;padding:20px 0 0 0;border-top:1px solid #D0B66B}.single-story-wrapper .content-wrapper-medium{position:relative;padding:40px 10px 40px 10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-sizing:border-box;box-sizing:border-box}.single-story-wrapper .content-wrapper-medium .story{position:relative;-webkit-box-flex:1;-ms-flex:1;flex:1;margin:0 0 0 0;padding:0 20px 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (max-width: 690px){.single-story-wrapper .content-wrapper-medium .story{padding:0 0 30px 0}}.single-story-wrapper .content-wrapper-medium .story h1,.single-story-wrapper .content-wrapper-medium .story h2,.single-story-wrapper .content-wrapper-medium .story h3,.single-story-wrapper .content-wrapper-medium .story h4,.single-story-wrapper .content-wrapper-medium .story h5,.single-story-wrapper .content-wrapper-medium .story h6{color:#D0B66B}.single-story-wrapper .content-wrapper-medium .story .featured_image{border:15px solid #F3EDDA;margin:0 0 10px 0;-webkit-box-sizing:border-box;box-sizing:border-box}.single-story-wrapper .content-wrapper-medium .story .entry-date{font-size:0.875rem}.single-story-wrapper .content-wrapper-medium .next-previous-links{display:block;position:relative;margin:0 0 0 0;padding:20px 0 0 0;border-top:1px solid #D0B66B}#tt {position:absolute; display:block;z-index:1500;}
#tttop {display:block; height:5px; margin: 5px 0;}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:white}
#ttbot {display:block; height:5px; margin-left:5px;}
ul#glossaryList{padding: 0; margin: 0;}
span.glossaryLink, a.glossaryLink {text-decoration:none !important; border-bottom: dotted 1px;}
a.glossaryLink:hover {text-decoration:none !important;}
#glossary-categories {float: right; margin: 0}
.mobile-link{margin: 10px; font-size: 14pt}
.mobile-link:before{content: "Term link: "}
.glossary_synonyms{margin-bottom: 1em; font-style: italic}
h4.glossary_related_title {margin-bottom:0px;}
ul.glossary_related {margin-top:0;}
div.glossary_synonyms {margin:10px 0;}
div.glossary_synonyms_title {margin: 10px 0;}
.glossary_top_filter {clear: both; overflow: hidden;}
.glossary_top_filter .left {}
.glossary_top_filter .right {float: right;}
#message.error {color: red;}
.red-glossary-third-party .block {border: 1px solid grey;border-radius: 13px;padding: 20px;margin-bottom: 5px;}
.red-glossary-third-party .block h3 {padding-top: 0px; margin-top: 0px;}
.glossarySettingsTabs .block {
border: 1px solid grey;border-radius: 13px;padding: 20px;margin-bottom: 5px;
}
.glossarySettingsTabs .block h3 {
padding-top: 0px; margin-top: 0px;
}
#glossary-exclude-box label.blocklabel,
#glossary-disable-box label.blocklabel{
display: block
}
.floated-form-table{
clear: none;
}
.floated-form-table tr{
float: left;
width: 49%;
clear: none;
}
.glossarySettingsTabs table th{
position: relative;
padding-right: 25px;
}
.cm-showhide-handle{
cursor: pointer;
}
div.scnt {
margin-top: 1em
}
.cmetg_poweredby {clear:both;float:none;font-size:8px;line-height:1.5;display: inline-block;padding: 3px;margin-top:20px;color:#bbb;text-decoration:none;font-weight:bold}
.cmetg_poweredby:before {content:'Powered by ';}
.cmetg_poweredbylink:link{color:#bbb;text-decoration:none;}
.cmetg_poweredbylink:visited{color:#bbb;text-decoration:none;}
.cmetg_poweredbylink:hover{color:#bbb;text-decoration:none;}