.page-header {
    .top-section {
        margin-top: -90px;
    }
    .mid-section {
        margin-top: 88px;
        .content-wrapper-medium {
            padding: 150px 0 150px 0;
        }
        h1 {
            font-size: 3rem;
        }
    }
    .bottom-section {
        display: none;
        .content-wrapper {
            .col {
                &:nth-child(2) {
                    ul {
                        li {
                            &.footer-instagram {
                                background-image: url("wp-content/themes/acorn-lending/assets/images/instagram.svg");
                            }
                            .footer-facebook {
                                background-image: url("wp-content/themes/acorn-lending/assets/images/facebook.svg");
                            }
                        }
                    }
                }
            }
        }
    }
    .staff-section {
        background: #f3f3f3;
    }
    .reviews-box {
        background: #f3f3f3;
        padding: 30px 0;
        border-radius: 10px;
        iframe {
            transform: scale(1.1);
            width: 80% !important;
            margin: 0 auto;
        }
    }
    .main-footer {
        .bottom-section {
            background-color: #000;
            color: #fff;
            a {
                color: #fff !important;
                &:hover {
                    color: #D0B66B !important;
                }
            }
        }
        .footer-links-col {
            font-size: 22px;
            .footer-link {
                margin: 15px 0;
            }
        }
    }

    .header-cta {
        display: block;
        margin-top: 30px !important;
        margin-right: 10px;
        background: #D0B66B;
        width: 180px;
        font-size: 20px;
        text-align: center;
        padding: 5px 0px;
        float: left;
        clear: right;
        border-radius: 5px;
        @media screen and (max-width: 720px) {
            margin: 0 !important;
        }
    }

    #ui-datepicker-div {
        background: #f3f3f3;
        th {
            padding: 6px;
        }
        td {
            padding: 6px;
        }
    }
    .ui-datepicker-header {
        span {
            padding-right: 10px;
        }
        select {
            padding: 10px;
        }
    }
    .special-box {
        text-align: center;
        background: #fcfcfc;
        padding: 30px 0;
    }
}
