.page-header .top-section {
    margin-top: -90px;
    }
    .page-header .mid-section {
    margin-top: 88px;
    }
    .page-header .mid-section .content-wrapper-medium {
    padding: 150px 0 150px 0;
    }
    .page-header .bottom-section {
    display: none;
    }
    .staff-section {
    background: #f3f3f3;
    }
    .page-header .mid-section h1 {
    font-size: 3rem;
    }
    .main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li.footer-instagram {
    background-image: url("wp-content/themes/acorn-lending/assets/images/instagram.svg");
    }
    .main-footer .bottom-section .content-wrapper .col:nth-child(2) ul li.footer-facebook {
    background-image: url("wp-content/themes/acorn-lending/assets/images/facebook.svg");
    }
    .reviews-box {
    background: #f3f3f3;
    padding: 30px 0;
    border-radius: 10px;
    }
    .reviews-box iframe {
    transform: scale(1.1);
    width: 80% !important;
    margin: 0 auto;
    }
    .main-footer .bottom-section {
    background-color: #000;
    color: #fff;
    }
    .main-footer .bottom-section a {
    color: #fff !important;
    }
    .main-footer .bottom-section a:hover {
    color: #D0B66B !important;
    }
    .footer-links-col {
    font-size: 22px;
    }
    .footer-links-col .footer-link {
    margin: 15px 0;
    }
    .header-cta {
    display: block;
    margin-top: 30px !important;
    margin-right: 10px;
    background: #D0B66B;
    width: 180px;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    float: left;
    clear: right;
    border-radius: 5px;
    }
    @media screen and (max-width: 720px) {
    .header-cta {
    margin: 0 !important;
    }
    }
    #ui-datepicker-div {
    background: #f3f3f3;
    }
    #ui-datepicker-div th, #ui-datepicker-div td {
    padding: 6px;
    }
    .ui-datepicker-header span {
    padding-right: 10px;
    }
    .ui-datepicker-header select {
    padding: 10px;
    }
    .special-box {
    text-align: center;
    background: #fcfcfc;
    padding: 30px 0;
    }